@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html:lang(en) body {
  font-family: "poppins", sans-serif;
}

html:lang(ar) body {
  font-family: "Cairo", sans-serif;
}

.PopoverContent {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}
.SelectContent {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}
@layer base {
  :root {
    --background: #fcfafe;
    --foreground: #662ee3;
    /*     --foreground: #300AA4;
 */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #9c43e9;
    --primary-foreground: #210861;

    --secondary: #662ee3;
    --secondary-foreground: #5927ca;

    --muted: #c3a0e9;
    --muted-foreground: #300aa4;

    --accent: #e41df6;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: #662ee3;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #300aa4;
    --foreground: #fcfafe;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: #9c43e9;
    --primary-foreground: #210861;

    --secondary: #fcfafe;
    --secondary-foreground: #5927ca;

    --muted: #c3a0e9;
    --muted-foreground: #300aa4;

    --accent: #e41df6;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: #fcfafe;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden w-full;
  }
}

@layer utilities {
  .site_container {
    @apply md:w-11/12 lg:w-[700px] xl:w-[940px] 5xl:w-[1115px] 6xl:w-[1300px] mx-auto w-5/6;
  }

  /* .site_container {
    @apply xl:w-full xl:px-24 md:px-16 sm:px-6 mx-auto w-[87.5%];
  } */
  .content__aside__wrapper {
    @apply flex justify-between  lg:flex-col gap-10;
  }
  .trns {
    @apply transition-all duration-300 ease-in-out;
  }
  .rtl {
    direction: rtl;
  }
  .ltr {
    direction: ltr;
  }
  .flip {
    transform: rotateY(180deg);
  }

  .absolute__center {
    @apply absolute translate-x-1/2 right-1/2 bottom-1/2 translate-y-1/2;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
  :root {
    --radix-popover-trigger-width: 30%;
  }

  .hover__underline {
    @apply relative before:content-[""] before:absolute  before:left-0 before:w-full before:bottom-0 before:h-0.5 before:rounded-lg  before:bg-accent before:trns before:opacity-0 hover:before:opacity-100;
  }

  .animated-blob {
    animation: animate-blob 4s ease-in-out infinite;
  }

  @keyframes animate-blob {
    0%,
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }
}

/* //! --- forms ---- */

@layer base {
  .light-bg-inputs,
  .dark-bg-inputs,
  textarea {
    @apply text-base  font-normal rounded-md transition-shadow duration-200 border-none text-input shadow-[0_0_0_1px] shadow-input disabled:opacity-60 disabled:cursor-no-drop;
  }

  .light-bg-inputs,
  textarea {
    @apply bg-transparent;
  }
  .dark-bg-inputs {
    @apply bg-background;
  }

  .light-bg-inputs,
  .dark-bg-inputs,
  .dark-bg-submit,
  .light-bg-submit {
    @apply h-10 min-h-[40px];
  }

  .light-bg-inputs,
  .dark-bg-inputs,
  textarea {
    @apply placeholder:text-base placeholder:text-input placeholder:opacity-50 placeholder:font-normal;
  }

  .light-bg-inputs,
  .dark-bg-inputs,
  textarea {
    @apply focus:outline-none focus:border-none focus:ring-0;
  }

  .light-bg-inputs,
  .dark-bg-inputs,
  textarea {
    @apply focus:shadow-[0_0_0_2px] focus:shadow-input focus:text-input  focus:placeholder:text-input;
  }
  .light-bg-inputs,
  textarea {
    @apply focus:bg-transparent;
  }

  .dark-bg-inputs {
    @apply focus:bg-background;
  }
  label {
    @apply text-base font-normal text-input  tracking-normal w-full;
  }
  .dark-bg-submit,
  .light-bg-submit {
    @apply w-full !mt-7 px-4 cursor-pointer trns text-base !rounded-md text-center font-normal tracking-normal border-none text-background bg-accent hover:bg-transparent hover:text-accent hover:scale-105 active:scale-90 disabled:opacity-60 disabled:!cursor-no-drop disabled:active:scale-100 disabled:hover:scale-100 disabled:hover:text-background disabled:hover:bg-accent shadow-[0_0_0_1px] shadow-accent focus:shadow-[0_0_0_2px];
  }

  input[type="file"] {
    @apply h-auto p-1 text-sm disabled:hover:after:w-0 disabled:hover:after:right-0;
  }

  /* hide arrows from input type number */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
